{%block doc%}
<!DOCTYPE html>
{%block html%}
<html lang="en">
  <head>
    {%block head%}
    <title>Kamilla H. Crozara</title>

    {%block metas%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {%endblock metas%}
    
    {%block styles%}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/justified-nav.css') }}">  
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    
    {%endblock styles%}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    {%endblock head%}
  </head>

  <body>
    {%block body%}
    <div class="container">
      {%block navbar%}
      <div class="masthead">
        <ul class="nav nav-justified">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      {%endblock navbar%}
      

      <div class="row">
          <div class="col-md-9">
            {%block content%}
            {%endblock content%}
          </div>
      
          <div class="col-md-3">
            <div class="bs-sidebar hidden-print affix" role="complementary">
              <ul class="nav bs-sidenav">
                <h1>Profile</h1>
              </ul>
            </div>
          </div>
      </div>
      

      {%block footer%}
      <!-- Site footer -->
      <div class="footer">
        <div class="row">
          <div class="col-md-10">
            <p>&copy; Kamilla H. Crozara - 2013</p>
          </div>
        <div class="col-md-2">
            <img src="../static/img/python-powered-w-100x40.png" class="img-rounded">
        </div>
        </div>
      </div>
      {%endblock footer%}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {%endblock body%}
  </body>
</html>
{%endblock html%}
{%endblock doc%}