{% extends "base.html" %}
{% block content %}
<center><h1>Kamilla H. Crozara</h1>
<a href="http://www.linkedin.com/pub/kamilla-holanda-crozara/4a/6b9/b4b"><img src="../static/img/linkedin.png" class="img-rounded"></a>

<a href="https://github.com/kamillacrozara"><img src="../static/img/github.png" class="img-rounded"></a>

<a href="https://www.facebook.com/kamilla.holanda"><img src="../static/img/facebook.png" class="img-rounded"></a>

<a href="https://twitter.com/KamillaaaH"><img src="../static/img/twitter.png" class="img-rounded"></a>

<a href="mailto:'holanda.kamilla@gmail.com'"><img src="../static/img/email.png" class="img-rounded"></a>
</center>
<div class="col-md-6">
	<div class="well">
		<h2>Employment</h2>
		<hr>
		<h3>Guest Researcher</h3>
		<h4>Maryland, United States - 2013</h4>
		<h4>
			<a href="www.nist.gov">National Institute of Standars and Technologie</a>
		</h4>
		<p>
			Software assurance, focus on source code static analysis. Development of automated tests to the Samated Reference Dataset Project.
		</p>
		<hr>
		<h3>College Researcher</h3> 
		<h4>Brasilia, Brazil - 2012-2013</h4>
		<h4>
			<a href="www.unb.br">University of Brasilia</a>
		</h4>
		<p>
			Study of technologies for quality control in software applications for mobile devices (tablets and smartphones); Implementation of processes, methods and techniques of Software Testing; Conducting experiments to validate processes, methods and techniques of Software Testing; Additionally administration of Linux system to provide web server to deploy applications like Redmine, Bugzilla/Testopia and Subversion SVN using Apache2;
		</p>
		<hr>

		<h3>Intern</h3> 
		<h4>Brasilia, Brazil - 2012-2012</h4>
		<h4>
			<a href="www.tcu.gov.br">Tribunal de Contas da Uniao</a>
		</h4>
		<p>
			Authoring and modeling of Process of Descentralized Development of IT Solutions using Eclipse Process Framework Composer
		</p>
	
		<hr>
		<h3>Instructor</h3> 
		<h4>Brasilia, Brazil - 2011-2011</h4>
		<h4>
			<a href="www.ctis.com.br/en/">CTIS</a>
		</h4>
		<p>
			Minicourse: basics of Eclipse Process Framework Composer - 20 hours.
		</p>
	
		<hr>
		<h3>Instructor</h3> 
		<h4>Brasilia, Brazil - 2011-2011</h4>
		<h4>
			<a href="www.embrapa.br">EMBRAPA-DF</a>
		</h4>
		<p>
			Minicourse: basics of Eclipse Process Framework Composer - 8 hours.
		</p>
	</div>
</div>
<div class="col-md-6">

	<div class="well">
		<h2>Education</h2>
		<hr>
		<h4>
			Software Engineering (1/2009 to 1/2014)
		</h4>
		<h4>
			<a href="www.unb.br">University of Brasilia</a>
		</h4>
	</div>

	<div class="well">
		<h2>Skills</h2> 
		<hr>
		<h4>Python Language</h4>
		<h4>Web Programming with Flask</h4>
		<h4>REGEX</h4>
		<h4>C Language</h4>
		<h4>Perl Language</h4>
	</div>

	<div class="well">
		<h2>Bibliographic Productions</h2>
		<hr>
		<p>
			Pattern Catalog of Software Process Definition In: XI Brazilian Symposium on Software Quality. XI Brazilian Symposium on Software Quality, Fortaleza, Brazil, 2012.
		</p>
		<hr>
		<p>
			Definition of Software Processes based on a Component Architecture Process X Brazilian Symposium on Software Quality, Curitiba, Brazil, in 2011.
		</p>
		<hr>
		<p>
			Models of Assessment and Deployment of Software Process in Micro and Small Enterprises: A Comparative Analysis In: CONTECSI 7th International Conference on Information Systems and Technology Management, Sao Paulo, Brazil, 2010.
		</p>
	</div>
{%endblock%}