{% extends "base.html" %}
{% block content %}
<center><h1>Kamilla H. Crozara</h1></center>
<div class="col-md-6">
	<div class="well">
		<h3>Guest Researcher</h3>
		<h4>Maryland, United States - 2013</h4>
		<p>
			<a href="www.nist.gov">National Institute of Standars and Technologie</a>
		</p>
		<p>
			Software assurance, focus on source code static analysis. Development of automated tests to the Samated Reference Dataset Project.
		</p>
	
		<h3>College Researcher</h3> 
		<h4>Brasilia, Brazil - 2012-2013</h4>
		<p>
			<a href="www.unb.br">University of Brasilia</a>
		</p>
		<p>
			Study of technologies for quality control in software applications for mobile devices (tablets and smartphones); Implementation of processes, methods and techniques of Software Testing; Conducting experiments to validate processes, methods and techniques of Software Testing; Additionally administration of Linux system to provide web server to deploy applications like Redmine, Bugzilla/Testopia and Subversion SVN using Apache2;
		</p>
		
		<h3>Intern</h3> 
		<h4>Brasilia, Brazil - 2012-2012</h4>
		<p>
			<a href="www.tcu.gov.br">Tribunal de Contas da Uniao</a>
		</p>
		<p>
			Authoring and modeling of Process of Descentralized Development of IT Solutions using Eclipse Process Framework Composer
		</p>
	
		<h3>Instructor</h3> 
		<h4>Brasilia, Brazil - 2011-2011</h4>
		<p>
			<a href="www.ctis.com.br/en/">CTIS</a>
		</p>
		<p>
			Minicourse: basics of Eclipse Process Framework Composer - 20 hours.
		</p>
	
		<h3>Instructor</h3> 
		<h4>Brasilia, Brazil - 2011-2011</h4>
		<p>
			<a href="www.embrapa.br">EMBRAPA-DF</a>
		</p>
		<p>
			Minicourse: basics of Eclipse Process Framework Composer - 8 hours.
		</p>
	</div>
</div>
<div class="col-md-6">
Education
University of Brasilia
Software Engineering Undergraduate (1/2009 to 1/2014)

Skills
Python Language
Lucid Scrapy project developed using Python to mine data of government expenses from Portal da Transparencia do Distrito Federal

Web Programming with Flask
REGEX
C Language
Perl Language
Bibliographic Productions
Pattern Catalog of Software Process Definition
In: XI Brazilian Symposium on Software Quality. XI Brazilian Symposium on Software Quality, Fortaleza, Brazil, 2012.

Definition of Software Processes based on a Component Architecture Process
X Brazilian Symposium on Software Quality, Curitiba, Brazil, in 2011

Models of Assessment and Deployment of Software Process in Micro and Small Enterprises: A Comparative Analysis
In: CONTECSI 7th International Conference on Information Systems and Technology Management, Sao Paulo, Brazil, 2010.
</div>
{%endblock%}