{% extends "base.html" %}
{% block content %}
  {% for entry in entries %}
	<div class="well">
	  	<div class="row">
	    	<div class="col-md-12">
			    <h3 clas="page-header">
			    	{{ entry.title }}
			    </h3>
			    <small>{{entry.created_at.strftime('%H:%M %Y-%m-%d') }}</small>
			    <hr>
			</div>
		</div>
		<div class="row">
			{%if entry.tags%}
				{%for tag in entry.tags%}
					<small>{{tag}}</small>
				{%endfor%}
			{% endif %}

		</div>

		<div class="row">
			<div class="col-md-12">
		    	{{ entry.body|safe }}
		    </div>
	    </div>

	    </div>
  {% endfor %}
{%endblock%}